In [1]:
# Import libraries
from selenium import webdriver
import pandas as pd

from selenium.webdriver.common.by import By
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [2]:
driver = webdriver.Chrome("/Users/pims/Desktop/projects/set50/set50-scrape/chromedriver.exe")
driver

/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_5444/964817546.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("/Users/pims/Desktop/projects/set50/set50-scrape/chromedriver.exe")

In [3]:
# Accept cookies
mainurl = "https://www.set.or.th/en/market/index/set50/overview"
driver.get(mainurl)
WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH,"//*[@id='__layout']/div/div[5]/div/div/div[2]/button"))).click()

In [4]:
# Get main's page source
maindata = driver.page_source

In [5]:
# Store in a dataframe
maindf = pd.read_html(maindata)[2]
maindf.head()

,Symbol (Click to sort Ascending),Open (Click to sort Ascending),High (Click to sort Ascending),Low (Click to sort Ascending),Last (Click to sort Ascending),Change (Click to sort Ascending),% Change (Click to sort Ascending),Bid (Click to sort Ascending),Offer (Click to sort Ascending),Volume (Shares) (Click to sort Ascending),Value ('000 Baht) (Click to sort Ascending)
0,ADVANC,215.00,215.00,212.00,213.00,0.00,0.00,213.00,214.00,3437311,733448.70
1,AOT,72.00,72.75,71.75,72.50,0.75,1.05,72.25,72.50,7995275,578314.30
2,AWC,5.65,5.75,5.60,5.65,0.00,0.00,5.60,5.65,5184112,29409.63
3,BANPU,10.90,11.10,10.80,10.80,-0.10,-0.92,10.80,10.90,63034675,691757.61
4,BBL,152.50,153.00,151.50,152.50,0.50,0.33,152.50,153.00,2231419,340069.95

In [6]:
mainHeaders = []
for h in maindf.columns:
    h = h.replace('(Click to sort Ascending)','')
    h = h.strip()
    mainHeaders.append(h)

In [7]:
# Change columns name
maindf.columns = mainHeaders
maindf.head()

,Symbol,Open,High,Low,Last,Change,% Change,Bid,Offer,Volume (Shares),Value ('000 Baht)
0,ADVANC,215.00,215.00,212.00,213.00,0.00,0.00,213.00,214.00,3437311,733448.70
1,AOT,72.00,72.75,71.75,72.50,0.75,1.05,72.25,72.50,7995275,578314.30
2,AWC,5.65,5.75,5.60,5.65,0.00,0.00,5.60,5.65,5184112,29409.63
3,BANPU,10.90,11.10,10.80,10.80,-0.10,-0.92,10.80,10.90,63034675,691757.61
4,BBL,152.50,153.00,151.50,152.50,0.50,0.33,152.50,153.00,2231419,340069.95

In [8]:
# Get all symbols + Remove all tags
SymbolList = []
for name in maindf["Symbol"]:
    allname = name.split()
    SymbolList.append(allname[0])

#SymbolList

In [9]:
len(SymbolList)

50

In [10]:
# Get full stock names, group symbols and full group names of all stocks

fullNameList = []
groupList = []
fullGroupNameList = []
symbolList = []
for i in SymbolList:
    
    try:
        suburl = "https://www.set.or.th/en/market/product/stock/quote/" + i + "/price"
        driver.get(suburl)
        
        subFullName = driver.find_element(By.XPATH,'//*[@id="__layout"]/div/div[2]/div[1]/div[5]/div[2]/div[2]/div[1]')
        subGroup = driver.find_element(By.XPATH,'//*[@id="stock-quote-tab-pane-1"]/div/div[1]/div/div[2]/div[2]/div/div/div[1]/h4')
        subFullGroupName = driver.find_element(By.XPATH,'//*[@id="stock-quote-tab-pane-1"]/div/div[1]/div/div[2]/div[2]/div/div/div[1]/span')
    
        fullNameList.append(subFullName.text)
        groupList.append(subGroup.text)
        fullGroupNameList.append(subFullGroupName.text)
        
        symbolList.append(i)
        
    except:
        pass

In [11]:
Info = pd.DataFrame(
    {'Symbol': symbolList,
     'FullName': fullNameList,
     'Group': groupList,
     'FullGroupName' : fullGroupNameList
    })

In [12]:
Info

    Symbol FullName    Group                           FullGroupName
0   ADVANC               ICT  Information & Communication Technology
1      AOT             TRANS              Transportation & Logistics
2      AWC              PROP                    Property Development
3    BANPU             ENERG                      Energy & Utilities
4      BBL              BANK                                 Banking
5     BDMS             HELTH                    Health Care Services
6      BEM             TRANS              Transportation & Logistics
7    BGRIM             ENERG                      Energy & Utilities
8       BH             HELTH                    Health Care Services
9      BTS             TRANS              Transportation & Logistics
10     CBG              FOOD                         Food & Beverage
11  CENTEL           TOURISM                       Tourism & Leisure
12    COM7              COMM                                Commerce
13   CPALL              COMM                                Commerce
14     CPF              FOOD                         Food & Beverage
15     CPN              PROP                    Property Development
16     CRC              COMM                                Commerce
17   DELTA             ETRON                   Electronic Components
18      EA             ENERG                      Energy & Utilities
19    EGCO             ENERG                      Energy & Utilities
20  GLOBAL              COMM                                Commerce
21    GPSC             ENERG                      Energy & Utilities

In [14]:
# Get historical trading of all stocks
pricedf = pd.DataFrame()

for i in SymbolList:
    
    suburl = "https://www.set.or.th/en/market/product/stock/quote/"+ i + "/historical-trading"
    driver.get(suburl)
    subprice = driver.page_source
        
    subpricedf = pd.read_html(subprice)[1]
    subpricedf['Symbol'] = i
        
    pricedf = pd.concat([pricedf,subpricedf])

In [15]:
pricedf

,Date (Click to sort Ascending),Open (Click to sort Ascending),High (Click to sort Ascending),Low (Click to sort Ascending),Close (Click to sort Ascending),Change (Click to sort Ascending),% Change (Click to sort Ascending),Volume (Shares) (Click to sort Ascending),Value ('000 Baht) (Click to sort Ascending),Symbol
0,23 Mar 2023,214.0,215.0,211.0,213.0,-1.0,-0.47,8107935,1724736.61,ADVANC
1,22 Mar 2023,214.0,214.0,211.0,214.0,0.0,0.0,9262074,1969744.49,ADVANC
2,21 Mar 2023,210.0,215.0,208.0,214.0,5.0,2.39,13744720,2918357.67,ADVANC
3,20 Mar 2023,207.0,210.0,206.0,209.0,3.0,1.46,10095610,2106582.99,ADVANC
4,17 Mar 2023,208.0,208.0,204.0,206.0,-1.0,-0.48,8669634,1784972.91,ADVANC
...,...,...,...,...,...,...,...,...,...,...
15,01 Mar 2023,15.9,15.9,15.7,15.8,-0.1,-0.63,19376196,306463.29,TU
16,28 Feb 2023,16.0,16.1,15.8,15.9,0.0,0.0,30756473,488885.1,TU
17,27 Feb 2023,16.0,16.1,15.9,15.9,0.0,0.0,12404224,197688.44,TU
18,24 Feb 2023,16.2,16.3,15.9,15.9,-0.3,-1.85,20263939,324882.88,TU
19,23 Feb 2023,16.2,16.3,16.2,16.2,0.0,0.0,10423361,169061.29,TU

In [16]:
priceHeaders = []
for h in pricedf.columns:
    h = h.replace('(Click to sort Ascending)','')
    h = h.strip()
    priceHeaders.append(h)

In [17]:
pricedf.columns = priceHeaders

In [18]:
pricedf

,Date,Open,High,Low,Close,Change,% Change,Volume (Shares),Value ('000 Baht),Symbol
0,23 Mar 2023,214.0,215.0,211.0,213.0,-1.0,-0.47,8107935,1724736.61,ADVANC
1,22 Mar 2023,214.0,214.0,211.0,214.0,0.0,0.0,9262074,1969744.49,ADVANC
2,21 Mar 2023,210.0,215.0,208.0,214.0,5.0,2.39,13744720,2918357.67,ADVANC
3,20 Mar 2023,207.0,210.0,206.0,209.0,3.0,1.46,10095610,2106582.99,ADVANC
4,17 Mar 2023,208.0,208.0,204.0,206.0,-1.0,-0.48,8669634,1784972.91,ADVANC
...,...,...,...,...,...,...,...,...,...,...
15,01 Mar 2023,15.9,15.9,15.7,15.8,-0.1,-0.63,19376196,306463.29,TU
16,28 Feb 2023,16.0,16.1,15.8,15.9,0.0,0.0,30756473,488885.1,TU
17,27 Feb 2023,16.0,16.1,15.9,15.9,0.0,0.0,12404224,197688.44,TU
18,24 Feb 2023,16.2,16.3,15.9,15.9,-0.3,-1.85,20263939,324882.88,TU
19,23 Feb 2023,16.2,16.3,16.2,16.2,0.0,0.0,10423361,169061.29,TU

In [19]:
# Get the financial statement of all stocks
highlights = pd.DataFrame()
for i in SymbolList:
    subtab = pd.DataFrame()
    suburl = "https://www.set.or.th/en/market/product/stock/quote/" + i + "/financial-statement/company-highlights"
    driver.get(suburl)
    subdata = driver.page_source
    
    subtab = pd.read_html(subdata)[0]
    subtab['Symbol'] = i
    
    highlights = pd.concat([highlights,subtab])
    
highlights

,Period as of,Y/E 2018 31 Dec 2018,Y/E 2019 31 Dec 2019,Y/E 2020 31 Dec 2020,Y/E 2021 31 Dec 2021,Y/E 2022 31 Dec 2022,Symbol,Y/E 2019 30 Sep 2019,Y/E 2020 30 Sep 2020,Y/E 2021 30 Sep 2021,Y/E 2022 30 Sep 2022,Q1/2023 31 Dec 2022,Y/E 2019 31 Mar 2019,Y/E 2020 31 Mar 2020,Y/E 2021 31 Mar 2021,Y/E 2022 31 Mar 2022,9M/2023 31 Dec 2022
0,Financial Data,NaN,NaN,NaN,NaN,NaN,ADVANC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Assets,290504.99,289669.12,350170.58,356221.74,337043.66,ADVANC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Liabilities,232836.4,220274.95,274481.21,274397.22,251227.31,ADVANC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Equity,57521.04,69266.1,75563.98,81698.75,85688.72,ADVANC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Paid-up Capital,2973.1,2973.18,2973.55,2973.93,2974.21,ADVANC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8,EPS (Baht),0.68,0.8,1.26,1.66,1.47,TU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Financial Ratio,NaN,NaN,NaN,NaN,NaN,TU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,ROA (%),4.52,4.57,6.29,6.9,4.9,TU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,ROE (%),7.43,8.33,12.42,14.37,10.2,TU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Net Profit Margin (%),2.7,3.24,4.85,5.83,4.73,TU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
highlights.drop(highlights[highlights['Period as of'] == 'Financial Data'].index
           ,inplace=True)
highlights.drop(highlights[highlights['Period as of'] == 'Financial Ratio'].index
           ,inplace=True)

In [21]:
highlights = highlights.reset_index(drop=True)
highlights

,Period as of,Y/E 2018 31 Dec 2018,Y/E 2019 31 Dec 2019,Y/E 2020 31 Dec 2020,Y/E 2021 31 Dec 2021,Y/E 2022 31 Dec 2022,Symbol,Y/E 2019 30 Sep 2019,Y/E 2020 30 Sep 2020,Y/E 2021 30 Sep 2021,Y/E 2022 30 Sep 2022,Q1/2023 31 Dec 2022,Y/E 2019 31 Mar 2019,Y/E 2020 31 Mar 2020,Y/E 2021 31 Mar 2021,Y/E 2022 31 Mar 2022,9M/2023 31 Dec 2022
0,Assets,290504.99,289669.12,350170.58,356221.74,337043.66,ADVANC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Liabilities,232836.4,220274.95,274481.21,274397.22,251227.31,ADVANC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Equity,57521.04,69266.1,75563.98,81698.75,85688.72,ADVANC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Paid-up Capital,2973.1,2973.18,2973.55,2973.93,2974.21,ADVANC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Revenue,170716.67,181740.18,173720.31,182605.54,186142.92,ADVANC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545,Net Profit,3256.21,3815.88,6246.09,8013.0,7138.0,TU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
546,EPS (Baht),0.68,0.8,1.26,1.66,1.47,TU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
547,ROA (%),4.52,4.57,6.29,6.9,4.9,TU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
548,ROE (%),7.43,8.33,12.42,14.37,10.2,TU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
549,Net Profit Margin (%),2.7,3.24,4.85,5.83,4.73,TU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
stats = pd.DataFrame()

for i in SymbolList:
    subtab3 = pd.DataFrame()
    suburl3 = "https://www.set.or.th/en/market/product/stock/quote/" + i + "/financial-statement/company-highlights"
    driver.get(suburl3)
    subdata3 = driver.page_source
    
    subtab3 = pd.read_html(subdata3)[1]
    
    subtab3 = subtab3.iloc[2:]
    subtab3 = subtab3.reset_index(drop=True)
    subtab3.rename(columns=subtab3.iloc[0],inplace=True)
    subtab3 = subtab3.drop([0])

    
    subtab3['Symbol'] = i

   
    stats = pd.concat([stats,subtab3])

In [23]:
stats

,F/S Period (As of date),30 Sep 2019,30 Sep 2020,30 Sep 2021,30 Sep 2022,31 Dec 2022,Symbol,-
1,P/E,20.45,19.15,25.13,22.73,24.36,ADVANC,NaN
2,P/BV,10.22,7.64,9.15,7.43,7.39,ADVANC,NaN
3,Book Value per share (Baht),20.84,23.04,25.12,26.25,28.81,ADVANC,NaN
4,Dividend Yield (%),3.32,4.17,3.01,3.94,3.61,ADVANC,NaN
1,P/E,42.38,205.82,-,-,-,AOT,NaN
...,...,...,...,...,...,...,...,...
4,Dividend Yield (%),1.90,2.98,3.05,2.69,5.29,TTB,NaN
1,P/E,16.84,10.83,12.04,10.05,9.49,TU,NaN
2,P/BV,1.54,1.25,1.59,1.29,0.84,TU,NaN
3,Book Value per share (Baht),8.76,10.88,12.23,13.08,17.49,TU,NaN
4,Dividend Yield (%),2.96,3.54,3.69,5.62,5.77,TU,NaN

In [24]:
stats = stats.reset_index(drop=True)
stats.head(10)

,F/S Period (As of date),30 Sep 2019,30 Sep 2020,30 Sep 2021,30 Sep 2022,31 Dec 2022,Symbol,-
0,P/E,20.45,19.15,25.13,22.73,24.36,ADVANC,NaN
1,P/BV,10.22,7.64,9.15,7.43,7.39,ADVANC,NaN
2,Book Value per share (Baht),20.84,23.04,25.12,26.25,28.81,ADVANC,NaN
3,Dividend Yield (%),3.32,4.17,3.01,3.94,3.61,ADVANC,NaN
4,P/E,42.38,205.82,-,-,-,AOT,NaN
5,P/BV,6.89,6.25,7.76,10.57,10.08,AOT,NaN
6,Book Value per share (Baht),10.77,9.96,7.86,7.09,7.12,AOT,NaN
7,Dividend Yield (%),1.41,0.31,-,-,-,AOT,NaN
8,P/E,NaN,-,-,59.04,46.92,AWC,221.42
9,P/BV,NaN,2.04,1.90,2.48,2.18,AWC,-

In [25]:
# Close the driver
driver.quit()