In [1]:
# Import libraries
from selenium import webdriver
import pandas as pd

from selenium.webdriver.common.by import By
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [27]:
driver = webdriver.Chrome("/Users/pims/Desktop/projects/set50/set50-scrape/chromedriver.exe")
driver

/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/964817546.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("/Users/pims/Desktop/projects/set50/set50-scrape/chromedriver.exe")

In [28]:
# Accept cookies
mainurl = "https://www.set.or.th/en/market/index/set50/overview"
driver.get(mainurl)
WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH,"//*[@id='__layout']/div/div[5]/div/div/div[2]/button"))).click()

In [29]:
# Get main's page source
maindata = driver.page_source

In [30]:
# Store in a dataframe
maindf = pd.read_html(maindata)[2]
maindf.head()

,Symbol (Click to sort Ascending),Open (Click to sort Ascending),High (Click to sort Ascending),Low (Click to sort Ascending),Last (Click to sort Ascending),Change (Click to sort Ascending),% Change (Click to sort Ascending),Bid (Click to sort Ascending),Offer (Click to sort Ascending),Volume (Shares) (Click to sort Ascending),Value ('000 Baht) (Click to sort Ascending)
0,ADVANC,214.0,214.00,211.00,214.00,0.00,0.00,213.0,214.00,9262074,1969744.49
1,AOT,70.5,71.50,70.25,71.25,1.00,1.42,71.0,71.25,16097592,1142591.99
2,AWC,5.5,5.65,5.45,5.60,0.15,2.75,5.6,5.65,44086137,246130.55
3,BANPU,10.6,10.90,10.50,10.70,0.20,1.90,10.7,10.80,73358206,787571.61
4,BBL,152.5,153.00,151.50,152.00,0.50,0.33,151.5,152.00,3585170,545194.98

In [31]:
mainHeaders = []
for h in maindf.columns:
    h = h.replace('(Click to sort Ascending)','')
    h = h.strip()
    mainHeaders.append(h)

In [32]:
# Change columns name
maindf.columns = mainHeaders
maindf.head()

,Symbol,Open,High,Low,Last,Change,% Change,Bid,Offer,Volume (Shares),Value ('000 Baht)
0,ADVANC,214.0,214.00,211.00,214.00,0.00,0.00,213.0,214.00,9262074,1969744.49
1,AOT,70.5,71.50,70.25,71.25,1.00,1.42,71.0,71.25,16097592,1142591.99
2,AWC,5.5,5.65,5.45,5.60,0.15,2.75,5.6,5.65,44086137,246130.55
3,BANPU,10.6,10.90,10.50,10.70,0.20,1.90,10.7,10.80,73358206,787571.61
4,BBL,152.5,153.00,151.50,152.00,0.50,0.33,151.5,152.00,3585170,545194.98

In [33]:
# Get all symbols + Remove all tags
SymbolList = []
for name in maindf["Symbol"]:
    allname = name.split()
    SymbolList.append(allname[0])

SymbolList

['ADVANC',
 'AOT',
 'AWC',
 'BANPU',
 'BBL',
 'BDMS',
 'BEM',
 'BGRIM',
 'BH',
 'BTS',
 'CBG',
 'CENTEL',
 'COM7',
 'CPALL',
 'CPF',
 'CPN',
 'CRC',
 'DELTA',
 'EA',
 'EGCO',
 'GLOBAL',
 'GPSC',
 'GULF',
 'HMPRO',
 'INTUCH',
 'IVL',
 'JMART',
 'JMT',
 'KBANK',
 'KTB',
 'KTC',
 'LH',
 'MINT',
 'MTC',
 'OR',
 'OSP',
 'PTT',
 'PTTEP',
 'PTTGC',
 'RATCH',
 'SAWAD',
 'SCB',
 'SCC',
 'SCGP',
 'TIDLOR',
 'TISCO',
 'TOP',
 'TRUE',
 'TTB',
 'TU']

In [34]:
len(SymbolList)

50

In [35]:
# Get full stock names, group symbols and full group names of all stocks

fullNameList = []
groupList = []
fullGroupNameList = []
symbolList = []
for i in SymbolList:
    
    try:
        suburl = "https://www.set.or.th/en/market/product/stock/quote/" + i + "/price"
        driver.get(suburl)
        
        subFullName = driver.find_element(By.XPATH,'//*[@id="__layout"]/div/div[2]/div[1]/div[5]/div[2]/div[2]/div[1]')
        subGroup = driver.find_element(By.XPATH,'//*[@id="stock-quote-tab-pane-1"]/div/div[1]/div/div[2]/div[2]/div/div/div[1]/h4')
        subFullGroupName = driver.find_element(By.XPATH,'//*[@id="stock-quote-tab-pane-1"]/div/div[1]/div/div[2]/div[2]/div/div/div[1]/span')
    
        fullNameList.append(subFullName.text)
        groupList.append(subGroup.text)
        fullGroupNameList.append(subFullGroupName.text)
        
        symbolList.append(i)
        
    except:
        pass

In [36]:
Info = pd.DataFrame(
    {'Symbol': symbolList,
     'FullName': fullNameList,
     'Group': groupList,
     'FullGroupName' : fullGroupNameList
    })

In [37]:
Info

    Symbol FullName    Group                           FullGroupName
0   ADVANC               ICT  Information & Communication Technology
1      AOT             TRANS              Transportation & Logistics
2      AWC              PROP                    Property Development
3    BANPU             ENERG                      Energy & Utilities
4      BBL              BANK                                 Banking
5     BDMS             HELTH                    Health Care Services
6      BEM             TRANS              Transportation & Logistics
7    BGRIM             ENERG                      Energy & Utilities
8      BTS             TRANS              Transportation & Logistics
9      CBG              FOOD                         Food & Beverage
10  CENTEL           TOURISM                       Tourism & Leisure
11    COM7              COMM                                Commerce
12   CPALL              COMM                                Commerce
13     CPF              FOOD                         Food & Beverage
14     CPN              PROP                    Property Development
15     CRC              COMM                                Commerce
16   DELTA             ETRON                   Electronic Components
17      EA             ENERG                      Energy & Utilities
18    EGCO             ENERG                      Energy & Utilities
19  GLOBAL              COMM                                Commerce
20    GPSC             ENERG                      Energy & Utilities
21    GULF             ENERG                      Energy & Utilities
22   HMPRO              COMM                                Commerce
23  INTUCH               ICT  Information & Communication Technology
24     IVL             PETRO              Petrochemicals & Chemicals
25   JMART               ICT  Information & Communication Technology
26     JMT               FIN                    Finance & Securities
27   KBANK              BANK                                 Banking
28     KTB              BANK                                 Banking
29     KTC               FIN                    Finance & Securities
30      LH              PROP                    Property Development
31    MINT              FOOD                         Food & Beverage
32     MTC               FIN                    Finance & Securities
33      OR             ENERG                      Energy & Utilities
34     OSP              FOOD                         Food & Beverage
35     PTT             ENERG                      Energy & Utilities
36   PTTEP             ENERG                      Energy & Utilities
37   PTTGC             PETRO              Petrochemicals & Chemicals
38   RATCH             ENERG                      Energy & Utilities
39   SAWAD               FIN                    Finance & Securities
40     SCB              BANK                                 Banking
41     SCC            CONMAT                  Construction Materials
42    SCGP               PKG                               Packaging
43  TIDLOR               FIN                    Finance & Securities
44   TISCO              BANK                                 Banking
45     TOP             ENERG                      Energy & Utilities
46    TRUE               ICT  Information & Communication Technology
47     TTB              BANK                                 Banking
48      TU              FOOD                         Food & Beverage

In [13]:
# Get historical trading of all stocks
pricedf = pd.DataFrame()

for i in SymbolList:
    
    suburl = "https://www.set.or.th/en/market/product/stock/quote/"+ i + "/historical-trading"
    driver.get(suburl)
    subprice = driver.page_source
        
    subpricedf = pd.read_html(subprice)[1]
    subpricedf['Symbol'] = i
        
    pricedf = pricedf.append(subpricedf)

/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)

/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/19299266.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pricedf = pricedf.append(subpricedf)

In [14]:
pricedf

,Date (Click to sort Ascending),Open (Click to sort Ascending),High (Click to sort Ascending),Low (Click to sort Ascending),Close (Click to sort Ascending),Change (Click to sort Ascending),% Change (Click to sort Ascending),Volume (Shares) (Click to sort Ascending),Value ('000 Baht) (Click to sort Ascending),Symbol
0,21 Mar 2023,210.0,215.0,208.0,214.0,5.0,2.39,13744720,2918357.67,ADVANC
1,20 Mar 2023,207.0,210.0,206.0,209.0,3.0,1.46,10095610,2106582.99,ADVANC
2,17 Mar 2023,208.0,208.0,204.0,206.0,-1.0,-0.48,8669634,1784972.91,ADVANC
3,16 Mar 2023,202.0,207.0,202.0,207.0,2.0,0.98,7315435,1500578.07,ADVANC
4,15 Mar 2023,203.0,207.0,201.0,205.0,4.0,1.99,8991010,1838405.92,ADVANC
...,...,...,...,...,...,...,...,...,...,...
15,27 Feb 2023,16.0,16.1,15.9,15.9,0.0,0.0,12404224,197688.44,TU
16,24 Feb 2023,16.2,16.3,15.9,15.9,-0.3,-1.85,20263939,324882.88,TU
17,23 Feb 2023,16.2,16.3,16.2,16.2,0.0,0.0,10423361,169061.29,TU
18,22 Feb 2023,16.1,16.3,16.0,16.2,0.1,0.62,19075370,308407.43,TU
19,21 Feb 2023,16.1,16.3,16.0,16.1,0.1,0.63,29473104,475276.8,TU

In [15]:
priceHeaders = []
for h in pricedf.columns:
    h = h.replace('(Click to sort Ascending)','')
    h = h.strip()
    priceHeaders.append(h)

In [16]:
pricedf.columns = priceHeaders

In [17]:
pricedf

,Date,Open,High,Low,Close,Change,% Change,Volume (Shares),Value ('000 Baht),Symbol
0,21 Mar 2023,210.0,215.0,208.0,214.0,5.0,2.39,13744720,2918357.67,ADVANC
1,20 Mar 2023,207.0,210.0,206.0,209.0,3.0,1.46,10095610,2106582.99,ADVANC
2,17 Mar 2023,208.0,208.0,204.0,206.0,-1.0,-0.48,8669634,1784972.91,ADVANC
3,16 Mar 2023,202.0,207.0,202.0,207.0,2.0,0.98,7315435,1500578.07,ADVANC
4,15 Mar 2023,203.0,207.0,201.0,205.0,4.0,1.99,8991010,1838405.92,ADVANC
...,...,...,...,...,...,...,...,...,...,...
15,27 Feb 2023,16.0,16.1,15.9,15.9,0.0,0.0,12404224,197688.44,TU
16,24 Feb 2023,16.2,16.3,15.9,15.9,-0.3,-1.85,20263939,324882.88,TU
17,23 Feb 2023,16.2,16.3,16.2,16.2,0.0,0.0,10423361,169061.29,TU
18,22 Feb 2023,16.1,16.3,16.0,16.2,0.1,0.62,19075370,308407.43,TU
19,21 Feb 2023,16.1,16.3,16.0,16.1,0.1,0.63,29473104,475276.8,TU

In [18]:
# Get the financial statement of all stocks
highlights = pd.DataFrame()
for i in SymbolList:
    subtab = pd.DataFrame()
    suburl = "https://www.set.or.th/en/market/product/stock/quote/" + i + "/financial-statement/company-highlights"
    driver.get(suburl)
    subdata = driver.page_source
    
    subtab = pd.read_html(subdata)[0]
    subtab['Symbol'] = i
    
    highlights = highlights.append(subtab)

highlights

/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)

/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/2729437178.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  highlights = highlights.append(subtab)

,Period as of,Y/E 2018 31 Dec 2018,Y/E 2019 31 Dec 2019,Y/E 2020 31 Dec 2020,Y/E 2021 31 Dec 2021,Y/E 2022 31 Dec 2022,Symbol,Y/E 2019 30 Sep 2019,Y/E 2020 30 Sep 2020,Y/E 2021 30 Sep 2021,Y/E 2022 30 Sep 2022,Q1/2023 31 Dec 2022,Y/E 2019 31 Mar 2019,Y/E 2020 31 Mar 2020,Y/E 2021 31 Mar 2021,Y/E 2022 31 Mar 2022,9M/2023 31 Dec 2022
0,Financial Data,NaN,NaN,NaN,NaN,NaN,ADVANC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Assets,290504.99,289669.12,350170.58,356221.74,337043.66,ADVANC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Liabilities,232836.4,220274.95,274481.21,274397.22,251227.31,ADVANC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Equity,57521.04,69266.1,75563.98,81698.75,85688.72,ADVANC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Paid-up Capital,2973.1,2973.18,2973.55,2973.93,2974.21,ADVANC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8,EPS (Baht),0.68,0.8,1.26,1.66,1.47,TU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Financial Ratio,NaN,NaN,NaN,NaN,NaN,TU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,ROA (%),4.52,4.57,6.29,6.9,4.9,TU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,ROE (%),7.43,8.33,12.42,14.37,10.2,TU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Net Profit Margin (%),2.7,3.24,4.85,5.83,4.73,TU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
highlights.drop(highlights[highlights['Period as of'] == 'Financial Data'].index
           ,inplace=True)
highlights.drop(highlights[highlights['Period as of'] == 'Financial Ratio'].index
           ,inplace=True)

In [20]:
highlights = highlights.reset_index(drop=True)
highlights

,Period as of,Y/E 2018 31 Dec 2018,Y/E 2019 31 Dec 2019,Y/E 2020 31 Dec 2020,Y/E 2021 31 Dec 2021,Y/E 2022 31 Dec 2022,Symbol,Y/E 2019 30 Sep 2019,Y/E 2020 30 Sep 2020,Y/E 2021 30 Sep 2021,Y/E 2022 30 Sep 2022,Q1/2023 31 Dec 2022,Y/E 2019 31 Mar 2019,Y/E 2020 31 Mar 2020,Y/E 2021 31 Mar 2021,Y/E 2022 31 Mar 2022,9M/2023 31 Dec 2022
0,Assets,290504.99,289669.12,350170.58,356221.74,337043.66,ADVANC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Liabilities,232836.4,220274.95,274481.21,274397.22,251227.31,ADVANC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Equity,57521.04,69266.1,75563.98,81698.75,85688.72,ADVANC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Paid-up Capital,2973.1,2973.18,2973.55,2973.93,2974.21,ADVANC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Revenue,170716.67,181740.18,173720.31,182605.54,186142.92,ADVANC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545,Net Profit,3256.21,3815.88,6246.09,8013.0,7138.0,TU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
546,EPS (Baht),0.68,0.8,1.26,1.66,1.47,TU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
547,ROA (%),4.52,4.57,6.29,6.9,4.9,TU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
548,ROE (%),7.43,8.33,12.42,14.37,10.2,TU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
549,Net Profit Margin (%),2.7,3.24,4.85,5.83,4.73,TU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
stats = pd.DataFrame()

for i in SymbolList:
    subtab3 = pd.DataFrame()
    suburl3 = "https://www.set.or.th/en/market/product/stock/quote/" + i + "/financial-statement/company-highlights"
    driver.get(suburl3)
    subdata3 = driver.page_source
    
    subtab3 = pd.read_html(subdata3)[1]
    
    subtab3 = subtab3.iloc[2:]
    subtab3 = subtab3.reset_index(drop=True)
    subtab3.rename(columns=subtab3.iloc[0],inplace=True)
    subtab3 = subtab3.drop([0])

    
    subtab3['Symbol'] = i

   
    stats = stats.append(subtab3,ignore_index=True)

/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)

/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)
/var/folders/y4/v9th9qc94ss2h31mdb0m42kr0000gn/T/ipykernel_89344/3329124373.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = stats.append(subtab3,ignore_index=True)

In [22]:
stats

,F/S Period (As of date),30 Sep 2019,30 Sep 2020,30 Sep 2021,30 Sep 2022,31 Dec 2022,Symbol,-
0,P/E,20.45,19.15,25.13,22.73,24.47,ADVANC,NaN
1,P/BV,10.22,7.64,9.15,7.43,7.43,ADVANC,NaN
2,Book Value per share (Baht),20.84,23.04,25.12,26.25,28.81,ADVANC,NaN
3,Dividend Yield (%),3.32,4.17,3.01,3.94,3.59,ADVANC,NaN
4,P/E,42.38,205.82,-,-,-,AOT,NaN
...,...,...,...,...,...,...,...,...
195,Dividend Yield (%),1.90,2.98,3.05,2.69,5.37,TTB,NaN
196,P/E,16.84,10.83,12.04,10.05,9.51,TU,NaN
197,P/BV,1.54,1.25,1.59,1.29,0.84,TU,NaN
198,Book Value per share (Baht),8.76,10.88,12.23,13.08,17.47,TU,NaN
199,Dividend Yield (%),2.96,3.54,3.69,5.62,5.76,TU,NaN

In [23]:
# Close the driver
driver.quit()